*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.quote{
min-height: 30vh;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: rgb(233, 224, 224);
}
.quote p{
    font-size: 20px;
    text-align: center;
    width: 40%;
}
.quoteCEO{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
}
.quoteCEO figure{
    height: 40px;
    width: 40px;
    border-radius: 120px;
    background-color: #fff;
}
.quoteCEO P{
    display: flex;
    width: 250px;
    justify-content: center;
gap: 10px;
color: black;
}
.quoteCEO span{
    color: blue;
}