*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    min-height: 85vh;
    background-color: rgb(77, 65, 65);
    display: flex;
    justify-content: center;
}
.mainContainer{
width: 90%;
min-height: 80vh;
display: flex;
justify-content: center;
align-items: center;
gap: 20px;

}
.left{
    width: 45%;
    height: 100%;
    display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
color: white;
gap: 15px;
}
.left h1{
    width: 70%;
    font-weight: bold;
    color: white;
}
.left p{
    width: 70%;
    color: grey;
}
.right{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons button{
    width: 150px;
    height: 50px;
}
.buttons{
width: 70%;
display: flex;
gap: 20px;
}
.learn{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    transition: .4s;
}
.learn:hover{
    background-color: #fff;
    color: black;
}
.start{
    background-color: rgb(71, 71, 194);
    border-radius: 5px;
    border: none;
    color: white;
}
.mainPagePic{
    height: 60%;
    width: 100%;
    background-color: rgb(91, 91, 97) ;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(201, 195, 195);
  font-size: 70px;
}

@media only screen and (max-width: 1000px) {
    .right {
     display: none;
    }
    .left{
        width: 100%
        
    }
  }