*{
    margin: 0;
    padding: 0;
}

.createAccount{
    padding-top: 10vh;
    height: 5vh;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}
.MainSlider{
    height: 100vh;
  
}
.main{
    height: 80vh;
    background-image: url(https://dlcdnwebimgs.asus.com/gain/9EB0C91D-5C6D-4F7E-AEB1-7823F8B76594/fwebp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}