*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.blog{
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blogContainer{
    min-height: 70vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.blogCard{
    height: 85vh;
    width: 30%;
    border: 1px solid rgb(194, 184, 184);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.blogCardPic{
    height: 40vh;
    width: 100%;
    background-color: rgb(194, 184, 184);
    display: flex;
    justify-content: center;
    align-items: center;
}
.blogCardPic h4{
font-size: 40px;
color: rgb(248, 245, 245);
}
.blogDet{
    width: 80%;
    min-height: 30%;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.blogDet button{
border-radius: 20px;
width:50px;
border-color: transparent;
background-color: rgb(61, 61, 212);
color: white;
font-size: 12px;
}
.blogDet p{
    color: black;
    max-height:25% ;
}
.blogDet h3{
    font-size: 20px;

}


.user{
    min-height: 10%;
    width: 80%;
    display: flex;
    gap: 30px;
    align-items: center;
}
.user figure{
    height: 40px;
    width: 40px;
    background-color: grey;
    border-radius: 120px;
}
.userDet{
    max-height: 100%;
}
@media only screen and (max-width: 1200px) {
   
    .blogContainer{
flex-direction: column;  

 }
 .blogContainer{
    flex-direction: column;  
    flex-wrap: nowrap;
    gap: 20px;
     }
    
.blogCard{
    width: 80%;
}


  }