*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.search{
    width: 100%;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.searchArea{
    width: 80%;
    min-height: 20vh;
    background-color: blueviolet;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
}
.searchText{
display: flex;
flex-direction: column;
justify-content: center;
color: white;
}
.searchBox{
    display: flex;
    align-items: center;
    justify-content: center;
    }
    ::placeholder{
        padding-left: 10px;
    }
    .searchBox button{
        background-color: transparent;
        color: white;
        border: 1px solid white;
        height: 35px;
        width: 70px;
        transition: .3s;


    }

.searchBox input{
height: 37px;
max-width: 280px;
}
.searchBox button:hover{
    background-color: white;
    color:black;
}
.searchArea h5{
    font-size: 35px;
}
.searchArea p{
    font-size: 15px;
    color: rgb(197, 191, 191);
}
.searchBox{
display: flex;
flex-direction: column;
}
.searchBoxText p{
    font-size: 15px;
}
@media only screen and (max-width: 1000px) {
    .searchArea {
     flex-direction: column;
     align-items: center;
    }

  }